header {
    background-color: #CE2829;
    color: white;
    width: 80vw;
    padding: 70px;
}

header p {
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
}

header img {
    align-self: center;
    padding-bottom: 40px;
}

.order-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 50vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.order-buttons button {
    all: unset;
    cursor: pointer;
    font-family: "Barlow", sans-serif;
}

.info {
    font-family: "Barlow", sans-serif;
    width: 40vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.info h3 {
    text-align: left;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price p {
    opacity: 0.5;
}

.info p {
    text-align: left;
    opacity: 0.6;
}

.secim {
    font-family: "Barlow", sans-serif;
    padding-top: 30px;
}

.boyut-cevap {
    opacity: 0.6;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.secim {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: 0 auto;
    justify-content: space-between;
}

.hamur {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 150px;
}

.label {
    font-weight: 700;
}

.malzemeler {
    display: flex;
    flex-direction: column;
    font-family: "Barlow", sans-serif;
    text-align: left;
    width: 40vw;
    margin: 0 auto;
    padding: 30px;
    gap: 15px;
}

.malzeme-baslik {
    font-weight: 700;
}

.malzeme-info {
    opacity: 0.6;
    font-weight: 500;
}

.malzeme-secim {
    opacity: 0.8;
    font-weight: 600;
    gap: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
}